<div *ngIf="isOpen" class="modal">
  <div class="modal-backdrop">
    <div class="modal-content">
      <div *ngIf="user">
        <header class="modal-container-header">
          <h5>Profile</h5>
        </header>
        <div class="main-body">
          <div class="row">
            <div class="d-flex flex-column align-items-center text-center pt-3">
              <img [src]="user.avatarUrl" alt="Admin" class="rounded-circle p-1 bg-primary" width="110">
              <!-- <div class="online" *ngIf="user.online"></div> -->
              <div class="mt-3">
                <h4>{{ user.name }}</h4>
                <p class="text-muted font-size-sm">{{ user.email }}</p>
              </div>
            </div>
            <div class="d-flex justify-content-center gap-3 mb-3" *ngIf="user._id !== currentUserId">
              <button
                class="btn px-4 flex-fill text-white"
                [ngClass]="{
                  'btn-success': trangThaiKetBan === 'ban',
                  'btn btn-info': trangThaiKetBan === 'daGuiYeuCau',
                  'btn-primary': trangThaiKetBan === 'daNhanYeuCau' || trangThaiKetBan === 'chuaKetBan'
                }"
                [disabled]="trangThaiKetBan === 'ban' || trangThaiKetBan === 'daNhanYeuCau'"
                style="max-width: 175px;"
                (click)="sendRequest(user._id)"
              >
                <ng-container *ngIf="trangThaiKetBan === 'ban'">
                  Đã kết bạn <i class="fa-solid fa-user-check"></i>
                </ng-container>

                <ng-container *ngIf="trangThaiKetBan === 'daGuiYeuCau'">
                  <span class="d-inline-flex align-items-center">
                    Đã gởi yêu cầu <i class="fa-solid fa-xmark"></i>
                  </span>
                </ng-container>

                <ng-container *ngIf="trangThaiKetBan === 'daNhanYeuCau'">
                  <span class="d-inline-flex align-items-center">
                    Chờ kết bạn <i class="fa-solid fa-user-plus" style="color:#fff"></i>
                  </span>
                </ng-container>
                
                <ng-container *ngIf="trangThaiKetBan === 'chuaKetBan'">
                  <span class="d-inline-flex align-items-center">
                    Thêm bạn<i class="fa-solid fa-user-plus" style="color:#fff"></i>
                  </span>
                </ng-container>

              </button>

              <button
                class="btn btn-secondary px-4 flex-fill"
                value="Chat"
                style="max-width: 150px;"
                (click)="startChat(user._id)"
                >
                Chat
              </button>

            </div>

            <!-- Nếu là chủ tài khoản thì hiện nút update -->
              <div class="d-flex justify-content-center gap-3 mb-3" *ngIf="user._id === currentUserId">
              <button
                class="btn px-4 flex-fill text-white"
                class="btn btn-success px-4 flex-fill text-white"
                style="max-width: 175px;"
                (click)="updateProfile()"
              >
               Cập nhật <i class="fa-solid fa-pencil"></i>
              </button>
            </div>
            
          </div>
        </div>
        <footer class="modal-container-footer">
          <button class="button is-ghost" (click)="close()">Cancel</button>
        </footer>
      </div>

      <!-- Khi không tìm thấy người dùng -->
      <div *ngIf="user === undefined">
        <header class="modal-container-header">
          <h5>Profile</h5>
        </header>
        <h4>Không tìm thấy người dùng</h4>
        <footer class="modal-container-footer">
          <button class="button is-ghost" (click)="close()">Cancel</button>
        </footer>
      </div>
    </div>
  </div>

</div>

