<div class="modal-backdrop" *ngIf="isOpen">
  <div class="modal">
    <article class="modal-container">
      <header class="modal-container-header">
        <h5 class="modal-container-title">          
          Thay đổi mật khẩu
        </h5>
      </header>

      <div class="parent">
        <div div class="form-content">
          <form (ngSubmit)="onChange()" [formGroup]="changeNewPassForm">
            <div class="input-boxes">
              <div class="box-container">
                <div class="input-box">
                    <i class="fa-solid fa-lock"></i>
                  <input type="password" formControlName="password" placeholder="Nhập mật khẩu mới">
                </div>
                <div class="error">
                    <small *ngIf="changeNewPassForm.controls['password'].invalid && changeNewPassForm.controls['password'].touched">
                      <span *ngIf="changeNewPassForm.controls['password'].errors?.['required']">Password is required</span>
                      <span *ngIf="changeNewPassForm.controls['password'].errors?.['minlength']">Password must be at least 6 characters</span>
                    </small>
                </div>
                <div class="input-box">
                    <i class="fa-solid fa-square-check"></i>
                    <input type="password" formControlName="confirmPassword" placeholder="Nhập lại mật khẩu mới">
                  </div>
                <div class="error">
                    <small *ngIf="changeNewPassForm.get('confirmPassword')?.touched && changeNewPassForm.get('confirmPassword')?.value !== changeNewPassForm.get('password')?.value">
                        Mật khẩu phải giống nhau
                    </small>                      
                </div>

                <div class="input-box">
                    <i class="fa-solid fa-square-check"></i>
                    <input type="password" formControlName="oldPassword" placeholder="Mật khẩu cũ">
                  </div>
                <!-- <div class="error">
                    <small *ngIf="changeNewPassForm.get('confirmPassword')?.touched && changeNewPassForm.get('confirmPassword')?.value !== changeNewPassForm.get('password')?.value">
                        Passwords must be the same
                    </small>                      
                </div> -->

              </div>
            </div>
          </form>
        
      </div>
      
        <div class="alert success" *ngIf="formSubmitted && isSuccess">
          Thay đổi mật khẩu thành công !!!
        </div>

        <div class="alert fail" *ngIf="formSubmitted && !isSuccess">
          Thay đổi mật khẩu thất bại, vui lòng kiểm tra lại mật khẩu cũ !!!
        </div>  
      
      </div>

      <footer class="modal-container-footer">
        <button class="button is-ghost" (click)="close()">Cancel</button>
        <button class="button is-primary" 
                (click)="onChange()" 
                [disabled]="!changeNewPassForm.valid || !passwordsMatch()"
                [style.cursor]="(!changeNewPassForm.valid || !passwordsMatch()) ? 'default' : 'pointer'">
          Xác nhận
        </button>

      </footer>
    </article>
  </div>
</div>
