
<div class="parent">
  <div class="container">
      <div div class="form-content">
        <div class="title">Quên mật khẩu</div>
        <form (ngSubmit)="onReset()" [formGroup]="forgetPassForm">
          <div class="input-boxes">
            <div class="box-container">
              <div class="input-box">
                <i class="fa-regular fa-envelope"></i>
                <input type="email" formControlName="email" placeholder="Email">
              </div>
              <div class="error">
                <small *ngIf="forgetPassForm.get('email')?.invalid && (forgetPassForm.get('email')?.touched || forgetPassForm.get('email')?.dirty)">
                  <span *ngIf="forgetPassForm.get('email')?.errors?.['required']">Email là bắt buộc</span>
                  <span *ngIf="forgetPassForm.get('email')?.errors?.['email']">Email chưa hợp lệ</span>
                </small>
              </div>
            </div>
            <button type="button" class="btn" [disabled]="loading" (click)="onReset()">Gửi Email</button>
          </div>
        </form>
      
    </div>
  </div>
  
  <div class="alert success" *ngIf="formSubmitted && isSuccess">
    Email đã được gửi thành công. Vui lòng kiểm tra hộp thư đến của bạn để đặt lại mật khẩu.
  </div>

  <div class="alert fail" *ngIf="formSubmitted && !isSuccess">
    Gửi email thất bại !!!
  </div>  

</div>
